<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="server-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Exercícios de Json</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-router-link href="exercicio1">
            <p><ion-icon name="school-outline" class="ico-prog"></ion-icon></p>
            <strong>Alunos</strong>
            <p>Acesse a lista de alunos matriculados!</p>
          </ion-router-link>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
    <ion-card>
      <ion-router-link href="exercicio2">
        <p><ion-icon name="car-outline" class="ico-prog"></ion-icon></p>
        <strong>Carros</strong>
        <p>Confira a lista de nossos carros</p>
      </ion-router-link>
    </ion-card>
  </ion-col>
    </ion-row>
  </div>
</ion-content>
